@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../app/Filament/Forms/Components/**/*';
@source '../../../../app/Filament/Pages/**/*';
@source '../../../../app/Enums/**/*';
@source '../../../../resources/views/components/**/*';
@source '../../../../resources/views/emails/**/*';
@source '../../../../resources/views/errors/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../resources/views/layouts/**/*';
@source '../../../../resources/views/livewire/**/*';
@source '../../../../resources/views/partials/**/*';
@source '../../../../vendor/filament/**/*';

@source '../../../../vendor/awcodes/shout/resources/views/**/*';
@source '../../../../vendor/diogogpinto/filament-auth-ui-enhancer/resources/views/**/*';
@source '../../../../vendor/jaocero/radio-deck/resources/views/**/*';
@source '../../../../vendor/biostate/filament-menu-builder/resources/views/**/*';

@theme {
    --color-black: #08111F;
    --color-secondary: #7a81b7;
    --color-secondary-50: #f4f5fa;
    --color-secondary-100: #e7e9f2;
    --color-secondary-200: #d4d8e9;
    --color-secondary-300: #b7bed9;
    --color-secondary-400: #949dc6;
    --color-secondary-500: #7a81b7;
    --color-secondary-600: #676ba9;
    --color-secondary-700: #5c5c99;
    --color-secondary-800: #504f7e;
    --color-secondary-900: #383856;
    --color-secondary-950: #2b2b40;
}

.dark .light-mode-btn {
    @apply block;
}

.dark .dark-mode-btn {
    @apply hidden;
}

.fi-main-ctn {
    @apply pb-8 md:pb-10;
}

.fi-sidebar-nav {
    @apply border-r border-solid border-gray-950/5;
}

.dark .fi-sidebar-nav {
    @apply border-r border-solid border-white/10;
}

.fi-sidebar-group-label {
    @apply font-bold uppercase;
}

/*Max Height RichEditor*/
.fi-fo-rich-editor {
    &.has-max-height {
        @apply flex flex-col;

        .fi-input-wrp-content-ctn {
            @apply h-full;

            > div {
                @apply h-full flex flex-col;

                .fi-fo-rich-editor-main {
                    @apply overflow-hidden flex-1;

                    .fi-fo-rich-editor-content {
                        @apply overflow-y-auto;

                        .tiptap {
                            @apply h-auto min-h-full;
                        }
                    }
                }
            }
        }
    }
}
